.footer {
  margin-top: 80px;
  background-color: #1c1c1c;
  color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}

.footer-item a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: #e4a6b2; /* toc rosat suau */
}

.icon {
  font-size: 1.3rem;
}

/* Responsive */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
